.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    place-items: center;
    margin-top: -25px;
}

.gridItem {
    display: flex;
    align-items: center; /* Vertically centers content */
}

.about {
    background-color: var(--off-white-transparent);
    border-radius: 50px;
    font-size: 24pt;
    padding: 25px 50px 25px 50px;
}

h2 {
    font-family: 'Solway';
    font-weight: 500;
    color: #333;
}