.grid {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: -25px;
    padding-right: 75px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: -25px;
    padding-right: 75px;
}

.gridItem {
    display: flex;
    align-items: center; /* Vertically centers content */
}

img {
    max-height: 100%;
    max-width: 100%;
}

.about {
    background-color: var(--off-white-transparent);
    border-radius: 50px;
    font-size: 22pt;
    padding: 10px 50px 20px 50px;
    height: 72%;
}

h2 {
    font-family: 'Solway';
    font-weight: 500;
    color: #333;
}