@import '../vars.css';

.contentWrapper {
    max-width: 1200px;
    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: auto;
}

.gridItem1 {
    flex-basis: 40%;
    display: flex;
    align-items: right; /* Vertically centers content */
    justify-content: flex-end;

    height: 50vh;

    position: relative;
    right: 3%;
    z-index: 2;

    min-width: 0px;
}

.gridItem2 {
    flex-basis: 60%;
    display: flex;
    align-items: center; /* Vertically centers content */
    justify-items: center; /* Horizontally centers content */;

    height: 60vh;
    left: -8%;

    position: relative;

    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    background-color: white;
}

.gridItem1 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.aboutGrid {
    display: flex;
    align-items: center; /* Vertically centers content */
    justify-items: center; /* Horizontally centers content */;
    height: 100%;
    width: 100%;
}

.aboutContent {
    width: 70%;
    margin-left: 15%;
    font-size: clamp(1rem, min(2.5vh, 2vw), 4rem);
    line-height: 1.6;
}

span.line {
    display: inline-block;
}

p {
    margin: 0
}

h1 {
    font-family: 'Solway';
    font-size: 2.5em;
    margin: 0;
}

@media (max-width: 1000px) {

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

    .gridItem1 {
    max-width: 60%;
    position: relative;
    left: 0;
  }

  .gridItem2 {
    height: auto;
    width: 90%;
    aspect-ratio: auto;
    position: relative;
    left: 0;
    top: -18vw;
  }

  .aboutContent {
    height: 70%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: clamp(1rem, 4vw, 1.3rem);
    line-height: 1.6;
}

.gridItem1 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Solway';
    font-size: 2em;
    margin: 0;
}
}