@import '../colors.css';

.title {
  font-size: 85pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#333;
  margin-top: 25px;
  text-shadow: 0px 2px 3px #78787889;
}

.subtitle {
  font-size: 24pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#383838;
  width: 100%;
  text-shadow: 0px 1px 1px #78787889;
}

.hero {
  margin-bottom:25px;
}