@import '../colors.css';

.title {
  font-size: 85pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#333;
  text-shadow: 0px 2px 3px #78787889;
}

.subtitle {
  font-size: 20pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#383838;
  padding-left: 50px;
  padding-right:50px;
  text-shadow: 0px 1px 1px #78787889;
}

.content {
  max-width: 85%;
  background-color: var(--off-white-transparent);
  border-radius: 15px;
  font-size: 16pt;
  color:#333;
  padding: 30px 60px 60px 60px;
}

a, a:visited, a:active {
  color:#343434;
}