@import '../vars.css';

.contentWrapper {
  max-width: 1200px;
  margin: auto;
  flex-grow: 1;
  place-items: center;
  display: grid;
  gap: 20px;
  padding: 0px 50px 50px 50px;
}

.title {
  font-size: clamp(4rem, 7vw, 6rem);
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#333;
  text-shadow: 0px 2px 3px #78787889;
}

.subtitle {
  font-size: clamp(1.2rem, 4vw, 2rem);
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#383838;
  text-shadow: 0px 1px 1px #78787889;
  width: 80%;
}

.overviewGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 5%;
}

.imageContainer {
  width: 100%; /* Or a fixed width, e.g., 300px */
  height: 100%; /* Set a specific height for the div */
  overflow: hidden; /* Hides any overflowing parts of the image */
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gridRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 25px;
  font-size: 1rem;
}

.details {
  width: 100%;
  flex-grow: 1;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  padding: 0.5em 1.5em 1.5em 1.5em;
}

.skills {
  width: 100%;
  flex-grow: 2;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  padding: 0.5em 1.5em 1.5em 1.5em;
}

.content {
  width: 100vw;
  background-color: white;
  margin-top: 2em;
}

.markdownContent {
  width: 70%;
  font-size: 1rem;
  color:#303030;
  padding: 40px 80px 80px 80px;
  line-height: 1.6;
}

a, a:visited, a:active {
  color:#343434;
}

p {
  margin-bottom: 35px; /* Adds space between paragraphs */
}

@media (max-width: 900px) {

  .subtitle {
    width: 100%;
  }

  .contentWrapper {
    gap: 3rem;
    padding: 0px 20px 20px 20px;
  }

  .overviewGrid {
    grid-template-columns:auto;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  .markdownContent {
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    box-sizing: border-box;
  }

  .gridRight {
    gap: 10px;
  }
}