@import '../vars.css';

.contentWrapper {
  max-width: 1100px;
  margin: auto;
  flex-grow: 1;
  place-items: center;
  display: grid;
  gap: 2em;
  padding: 50px 100px 50px 100px;
}

.title {
  font-size: clamp(4rem, 4vw, 5.5rem);
  text-align: center;
  font-family: 'Solway';
  font-weight: 500;
  color:#333;
  line-height: 95%;
  /* text-shadow: 0px 2px 3px #78787889; */
}

.subtitle {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#383838;
  /* text-shadow: 0px 1px 1px #78787889; */
}

.overviewGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 2rem;
}

.gridLeft{
  overflow: hidden;
  height: 100%;
}

.imageContainer {
  width: 100%; /* Or a fixed width, e.g., 300px */
  height: 100%; /* Set a specific height for the div */
  max-height: 60vh;
  overflow: hidden; /* Hides any overflowing parts of the image */
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gridRight {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 25px;
  font-size: 1.1rem;
}

.gridRight h2 {
  margin-bottom: 0.8rem;
}

.details {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  padding: 0.2em 1.5em 1.5em 1.5em;
  line-height:2rem;
}

.skills {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  padding: 0.2em 1.5em 1.5em 1.5em;
}

.content {
  width: 100vw;
  background-color: white;
  margin-top: 3em;
  box-shadow: 10px 4px 8px 10px rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0);
}


.markdownContent {
  max-width: 1000px;
  margin: auto;
  font-size: 1.2rem;
  color:#303030;
  padding: 40px 80px 80px 80px;
  line-height: 1.6;
}

.narrowImg img {
  max-width: 80%;
  max-height: 70vh;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wideImg img {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.markdownContent em {
  color: #888;
  text-align: center;
  display: block;
}

.markdownContent li {
  margin-left: 4rem;
}

.markdownContent b {
  color: var(--ux-color);
}

.markdownContent p, ul {
  margin-top: 9px;
  margin-bottom: 2rem; /* Adds space between paragraphs */
}

.markdownContent h1,h2,h3 {
  margin-bottom: 1.5rem;
}



@media (max-width: 900px) {
  .title {
    overflow-wrap: anywhere
  }

  .subtitle {
    width: 100%;
  }

  .contentWrapper {
    gap: 3rem;
    padding: 50px 20px 20px 20px;
  }

  .overviewGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  .markdownContent {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-sizing: border-box;
  }

  .markdownContent img {
    max-width: 100%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .markdownContent li {
    margin-left: 1.5rem;
  }

  .gridRight {
    gap: 1.5rem;
  }
}