@import '../vars.css';

.title {
  font-size: 85pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#333;
  text-shadow: 0px 2px 3px #78787889;
}

.subtitle {
  font-size: 20pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#383838;
  padding-left: 50px;
  padding-right:50px;
  text-shadow: 0px 1px 1px #78787889;
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  padding: 20px;
  width: 100%;
}

.content {
  background-color: var(--off-white-transparent);
  border-radius: 15px;
  font-size: 16pt;
  color:#303030;
  padding: 40px 80px 80px 80px;
  line-height: 1.6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.imageContainer {
  width: 100%; /* Or a fixed width, e.g., 300px */
  height: 400px; /* Set a specific height for the div */
  overflow: hidden; /* Hides any overflowing parts of the image */
  border-radius: 15px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This is the key property */
}


a, a:visited, a:active {
  color:#343434;
}

p {
  margin-bottom: 35px; /* Adds space between paragraphs */
}