@import '../vars.css';

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.6rem;
}

.programming {
    background-color: var(--programming-color);
}

.ux {
    background-color: var(--ux-color);
}

.art {
    background-color: var(--art-color);
}

.game {
    background-color: var(--game-color);
}

.education {
    background-color: var(--education-color);
}

.unselected {
  background-color: #bbb;
}
