footer {
    max-width: 100vw;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;

    display:flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    background-color: #fff;
    border-top: 2px solid #dddddd;
    box-shadow: 0px 2px 10px rgba(75, 75, 75, 0.1);
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}