header {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 30px 60px 30px 60px;
    box-sizing: border-box;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 13pt;
    background-color: transparent;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  font-size: 16pt;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.clickable {
    display: block;
    transition: transform 0.2s;
}

.clickable.-wfp-hover
.clickable:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.ux {
    background-color: var(--ux-color);
}

.art {
    background-color: var(--art-color);
}

.game {
    background-color: var(--game-color);
}

.education {
    background-color: var(--education-color);
}

.programming {
    background-color: var(--programming-color);
}