header {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
    box-sizing: border-box;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 13pt;
    background-color: transparent;
}

header img {
    width: clamp(120px, 20vw, 200px);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  gap: 1.2rem;
}

.hamburger {
    display: none; /* Hide hamburger on desktop */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* --- Mobile Styles (Media Query) --- */
@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: var(--off-white);
        height: 90px;
    }

    .links {
        display: none; /* Hide links by default on mobile */
        flex-direction: column;
        background-color: var(--off-white);
        color: white;
        position: fixed;
        top: 90px; /* Adjust based on navbar height */
        right: 0px;
        width: 100vw;
        bottom: 0px;
        z-index: 50;
        gap: 0px;
    }

    .links.active a {
        color: white;
        font-family: 'Solway';
        font-size: 10vw;
    }

    .links.active button {
        height: 50%;
        width: 80%;
        font-size: 10vw;
        padding: 3vw;
        margin: auto;
        background-color: white;
        color: var(--education-color);
    }

    .active {
        display: flex; /* Show links when "active" class is applied via JS */
    }

    .hamburger {
        display: block; /* Show hamburger on mobile */
    }

    .linkGreen {
        flex: 1;
        background-color: var(--education-color);
        width: 100%;
        bottom: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .linkOrange {
        flex: 1;
        background-color: var(--ux-color);
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    .linkPink {
        flex: 1;
        background-color: var(--programming-color);
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    .linkBlue {
        flex: 1;
        background-color: var(--game-color);
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
}