.paperCanvas {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%; */
    z-index: -1; /* Place it behind other content */
    min-height: 100vh;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
  }