@import '../colors.css';

.projectsContainer {
  margin-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 50% 50%;
  pointer-events: none;
  border-radius: 10px;
}

.projectBlock {
  display: block;
  max-width: 100%;
  position: relative;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: transform 0.2s;
  cursor: pointer;
  pointer-events: auto;
  background-color: var(--off-white-transparent);
  border: #fff 20px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.projectBlock:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.projectTitle {
  display: block;
  position: absolute;
  bottom: 50px;
  color: var(--off-white);
  font-size: 32pt;
  padding-left: 15px;
  font-family: 'Solway';
  font-weight: 400;
  white-space: pre-line;
  z-index: 2;
  /*background-color: rgba(0, 0, 0, 0.6);*/
  border-radius: 0px 10px 10px 0px;
}

.projectSubtitle {
  display: block;
  position: absolute;
  bottom: 25px;
  color: var(--off-white);
  opacity: 0.8;
  font-size: 15pt;
  padding-top: 10px;
  padding-left: 17px;
  font-family: 'Solway';
  font-weight: 300;
  white-space: pre-line;
  z-index: 2;
}

.projectHeader {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.projectImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 1, 0.8) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 50%, transparent);
  z-index: 1; /*Place the gradient overlay above the image */
}

.projectBlock img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.projectInfo {
  position: relative;
  top: 0px;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom:30px;
  font-size: 14pt;
  color:#333;
  font-family: 'Varela Round';
  border-radius: 10px;
}