@import '../vars.css';

.projectsContainer {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.projectBlock {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  border-radius: 20px;
  transition: transform 0.2s;
  cursor: pointer;
  pointer-events: auto;
  background-color: white;
  border: #fff 20px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .projectsContainer {
    flex-direction: column;
    align-items: stretch;

    display: flex;
    gap: 20px;

    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .projectBlock {
    width: 100%;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    pointer-events: auto;
    background-color: white;
    border: #fff 20px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    transition: none;
    box-sizing: border-box;
  }

  .projectBlock:hover{
    cursor: pointer;
    transform: none;
    transition: none;
  }
}

.projectBlock:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.projectTitle {
  display: block;
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-weight: 400;
}

.projectSubtitle {
  display: block;
  opacity: 0.8;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 300;
}

.textOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 1rem;
  color: white;
  font-family: 'Solway';
  z-index: 2;
  box-sizing: border-box;
}

.projectHeader {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse
}

.projectImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 1, 0.8) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 50%, transparent);
  z-index: 1; /*Place the gradient overlay above the image */
}

.projectBlock img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.projectInfo {
  position: relative;
  top: 0px;
  display: block;
  padding: 1rem 0.2rem 1rem 0.2rem;
  font-size: 1rem;
  color:#333;
  border-radius: 10px;
}