@import '../colors.css';

.card {
    width: 20%;
    background-color: lightgray;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 10px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.title {
    font-family: 'Solway';
    font-weight: 400;
    font-size: 16pt;
    color: var(--off-white);
    text-align: left;
    padding: 10px;
    text-shadow: 0px 1px 1px #78787889;
}

.content {
    font-size: 12pt;
    color: var(--off-white);
    padding: 3px;
    background-color:#0000001b;
    text-align:left;
    border-radius: 15px;
}

ul, ol {
    padding-left: 20px;
}