:root {
  --programming-color: #f56c97;
  --ux-color: #ec9238;
  --game-color: #3898ec;
  --education-color: #82b333;
  --art-color: #a952fa;
  --off-white: #f4f4f4;
  --off-white-transparent: #fff;
  /* --off-white-transparent: #f2f2f2b6; */
}