:root {
  --programming-color: #f56c97;
  --ux-color: #ec9238;
  --game-color: #3898ec;
  --education-color: #82b333;
  --art-color: #a952fa;
  --off-white: #f5f5f5;
}

body {
  background: var(--off-white);
  padding: 0;
  margin: 5%;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round';
}

.paper-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other content */
  }

.title {
  font-size: 70pt;
  text-align: center;
  font-family: 'Solway';
  font-weight: 400;
  color:#333;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 50px;
}

.title:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.container {
  width: 90%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.projects-container {
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  gap: 50px;
  grid-template-columns: 50% 50%;
}

.project-block {
  display: block;
  max-width: 100%;
  position: relative;
  padding-bottom: 30px;
  margin-left:10px;
  margin-right:10px;
  transition: transform 0.2s;
  cursor: pointer;
  background-color: rgba(245,245,245,0.75);
}

.project-block:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.project-title {
  display: block;
  position: absolute;
  bottom: 50px;
  color: var(--off-white);
  font-size: 32pt;
  padding-left: 15px;
  font-family: 'Solway';
  font-weight: 400;
  white-space: pre-line;
  z-index: 2;
}

.project-subtitle {
  display: block;
  position: absolute;
  bottom: 25px;
  color: var(--off-white);
  opacity: 0.8;
  font-size: 15pt;
  padding-top: 10px;
  padding-left: 17px;
  font-family: 'Solway';
  font-weight: 300;
  white-space: pre-line;
  z-index: 2;
}

.project-header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.project-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 1, 0.8) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0) 50%, transparent);
  z-index: 1; /* Place the gradient overlay above the image */
}

.project-block img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.project-info {
  position: relative;
  top: 0px;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom:30px;
  font-size: 14pt;
  color:#333;
  font-family: 'Varela Round';
  border-radius: 10px;
}

 .tag-container {
  padding-top: 20px;
  display: flex;
 }

.tag {
  float: left;
  margin-right:10px;
  margin-top:10px;
  display: block;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  font-size: 12pt;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--off-white);
}

.tag.programming {
    border-color: var(--programming-color);
    color: var(--programming-color)
}

.tag.ux {
    border-color: var(--ux-color);
    color: var(--ux-color)
}

.tag.game {
    border-color: var(--game-color);
    color: var(--game-color);
}

.tag.education {
    border-color: var(--education-color);
    color: var(--education-color);
}

.tag.art {
    border-color: var(--art-color);
    color: var(--art-color);
}

.button-container {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  gap: 15px;
}

.button {
  border-radius: 154px;
  font-family: "Solway";
  font-size: 13pt;
  vertical-align: middle;
  color: white;
  border-width: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.button.-wfp-hover,
.button:hover {
  transform: scale(1.10);
  transition: transform 0.2s;
}

.button.programming {
    background-color: var(--programming-color);
}

.button.ux {
    background-color: var(--ux-color);
}

.button.art {
    background-color: var(--art-color);
}

.button.game {
    background-color: var(--game-color);
}

.button.education {
    background-color: var(--education-color);
}

.button.unselected {
  background-color: #bbb;
}

.fade-in {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}