:root {
  --pink: #f56c97;
  --orange: #ec9238;
  --blue: #3898ec;
  --green: #82b333;
  --purple: #a952fa;
  --off-white: #f4f4f4;
  --off-white-transparent: #fff;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  --text-shadow: 0px 1px 1px #78787889;
}